<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS</title>
    <!-- Bootstrap -->
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<!-- CSS Personalizado -->
<link rel="stylesheet" href="../public/css/style.css">
<!-- Impedir a execução de scripts externos ou não autorizados -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <h1>OS</h1>
    </div>  

        <!-- Bootstrap -->
        <script src="../public/js/bootstrap.min.js"></script>
        <script src="../public/js/script.js"></script>
</body>
</html>